certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.2
Cython==3.0.8
future==0.18.3
hfst==3.16.0.1
idna==3.6
mikatools==1.0.1
pycparser==2.21
pyhfst==1.1.0
requests==2.31.0
setuptools==69.0.3
tinydb==4.8.0
tqdm==4.66.1
uralicNLP==1.5.1
urllib3==2.2.0
wheel==0.42.0
